@import "variable.scss";

.container .control {
    display: flex;
    .label {
        flex-grow: 4;
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
    }
    .value {
        flex-grow: 8;
        input.ng-touched.ng-invalid {
            border: solid red 2px;
        }
        input {
            width: -webkit-fill-available;
            padding: 12px;
            border: solid #ccc 2px;
            border-radius: 4px;
            resize: vertical;
        }
        .alert {
            color: red;
        }
    }
}